
.line_links_contaner{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center; 

  @media (max-width:$md) {
    justify-content: space-around;
    gap: 10px; /* Отступы между элементами (необязательно) */
    a{
      flex: 1 1 calc(33.33% - 10px); /* 33% ширины для 3 элементов в ряду */
      box-sizing: border-box; /* Учитываем отступы в ширине */
      justify-content: center;
      align-items: center;
    }
  }
  ._split_text_push{
    position: relative;
    &:hover{
      a{
        opacity: 1; 
        position: relative;
        top: 50%; 
        height: 50%;
        transform: translate(0%, -50%);
        &::after{
          content: "";
          @include ab_center();
          width: 100%;
          height: 50%;
          top: 50%;
          transform: translate(-50%, 0%);
          background-color: red;
          z-index: -1;
        }
      }
      ._container_word{
        // top: 60%;
        // overflow: hidden;
        // height: 50%;
      }
    }
  }
  a{
    opacity: 0; 
  }
  a, ._container_word > ._this_letter {  
    display: inline-flex; 
    font-weight: $fw_m;
    font-size: $fs48_21_500;
    color:#fff;
    text-decoration: none;
  } 
  ._container_word > ._this_letter{
    // display: contents;
  }
  ._container_word{
    pointer-events: none;
    @include ab_center();
    width: 100%;
    display: inline-flex;
    top: 50%;
    letter-spacing:0px;
  }
}